/*весь сайт*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}

.button:hover {
    color: cadetblue;
}

.button:active {
    box-shadow: none;
}

.footer-link{
    text-decoration: none;
    color: black;
}

.footer-link:hover{
    color: darkgray;
}

/*слайдер*/

.slider {
    height: 800px;
    background-image: url(img/slider-img.jpg);
    position: relative;
}

.header {
    padding-top: 63px;
}

.menu {
    float: right;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.menu-link:hover {
    color: #212121;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.slider-text {
    margin-top: 283px;
}

.slider-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.slider-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
}

.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 24px;
}

.pagination {
    position: absolute;
    width: 1170px;
    bottom: 10px;
    text-align: center;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0;
}

.circle:hover {
    background-color: #212121;
}

.circle:active {
    background-color: aliceblue;
}


/* рекомендации и новинки */

.featured-new {
    height: 309px;
    background-color: white;
}

.f-n_menu {
    float: left;
    margin-top: -140px;
}

.f-n_menu-list {
    list-style-type: none;
    float: left;
}

.f-n_menu-link {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    padding: 11px 15px;
    border-bottom: 1px solid #6c6c6c;
}

.f-n_menu-link:hover {
    color: black;
}

.f-n_menu-link-active {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.f-n_all {
    float: right;
    margin-top: -120px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-decoration: none;
}

.f-n_all:hover {
    color: darkgray;
}

.featured-menu {
    padding-top: 240px;
}

.product-1 {
    width: 265px;
    height: 270px;
    background-image: url(img/product-1.png);
    margin-top: -30px;
    margin-right: 30px;
    float: left;
}

.product-2 {
    width: 265px;
    height: 270px;
    background-image: url(img/product-2.jpg);
    margin-top: -30px;
    margin-right: 30px;
    float: left;
}

.product-3 {
    width: 265px;
    height: 270px;
    background-image: url(img/product-3.jpg);
    margin-top: -30px;
    margin-right: 30px;
    float: left;
}

.product-4 {
    width: 265px;
    height: 270px;
    background-image: url(img/product-4.jpg);
    margin-top: -30px;
    float: left;
}

.product-menu {
    display: flex;
    justify-content: space-around;
    margin-top: 250px;
}

.product-1-1 {
    width: 270px;
    height: 270px;
    text-align: center;
    display: inline-block;
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0;
}

.product-1-1:hover {
    opacity: 0.9;
}

.button_2 {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 48px;
    height: 48px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    letter-spacing: 3.6px;
    margin-top: 62px;
    margin-bottom: 19px;
}

.arrow {
    padding: 14px 18px;
}

.product-h3 {
    color: #212121;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;
    text-decoration: none;
}

.product-content {
    width: 206px;
    height: 33px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 21.91px;
    margin-top: 23px;
    margin-left: 32px;
}


/* эксклюзив */

.exclusive1 {
    height: 683px;
    width: 683px;
    background-image: url(img/exclusive1.jpg);
    float: left;
}

.exclusive2 {
    height: 683px;
    width: 683px;
    background-image: url(img/exclusive2.jpg);
    float: right;
}

.exclusive-trending {
    margin-left: 50px;
    margin-top: 228px;
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.exclusive-h2 {
    margin-left: 50px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.exclusive-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 374px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 24px;
}

.ex_button {
    margin-left: 50px;
}


/* трендовые продукты */

.trending_products {
    height: 1800px;
    background-color: white;
}

.trending_products-h2 {
    float: left;
    margin-top: 119px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.trending_products_all {
    float: right;
    margin-top: 137px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-decoration: none;
}

.trending_products-menu {
    float: left;
    margin-top: 64px;
}

.trending_products-menu-list {
    list-style-type: none;
    float: left;
}

.trending_products-menu-link {
    display: inline-block;
    width: 390px;
    height: 400px;
    list-style-type: none;
    float: left;
}

.trending_products_all:hover {
    color: darkgray;
}


/* горячее предложение*/

.hot_deal {
    height: 800px;
    background-image: url(img/hot.jpg);
    position: relative;
}

.hot_deal-text {
    margin-left: 99px;
    padding-top: 287px;
}

.hot_deal-trending {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.hot_deal-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 300;
    text-transform: uppercase;
}

.hot_deal-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 458px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 30px;
}


/* эксклюзив 2*/

.ex2 {
    height: 810px;
    background-color: white;
}

.text_ex2 {
    margin-top: 120px;
    margin-left: 60px;
    display: inline-block;
    float: left;
    width: 570px;
    height: 570px;
    background-image: url(img/ex2-1.jpg);
}

.text_ex2-trending {
    padding-top: 186px;
    margin-left: 31px;
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.text_ex2-h2 {
    padding-top: 10px;
    margin-left: 31px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.ex2-content {
    margin-left: 31px;
    width: 332px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 24px;
}

.ex2button {
    margin-left: 31px;
}

.ex2-menu {
    height: 600px;
    width: 700px;
    float: right;
    margin-top: 120px;
}

.ex2-menu-list {
    list-style-type: none;
    float: left;
}

.ex2-menu-link {
    display: inline-block;
    width: 300px;
    height: 300px;
    list-style-type: none;
    float: right;
}


/* мобильное приложение*/

.mobile {
    height: 516px;
    background-image: url(img/mobile.jpg);
}

.mobile_text-trending {
    padding-top: 125px;
    margin-left: 99px;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.mobile_text-h2 {
    width: 500px;
    color: #212121;
    font-size: 62px;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 99px;
}

.mobile_text-content {
    margin-left: 99px;
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.mobail-menu {
    float: left;
    margin-top: 33px;
    margin-left: 99px;
}

.mobail-menu-list {
    list-style-type: none;
    float: left;
}

.mobail-menu-link {
    display: inline-block;
    width: 145px;
    height: 40px;
    list-style-type: none;
    float: left;
}


/* контакты*/

.contact {
    height: 384px;
    background-color: #f7f7f7;
}

.contact-menu {
    float: left;
    margin-top: 120px;
}

.contact-menu-list {
    margin-left: 99px;
    width: 300px;
    display: inline-block;
    list-style-type: none;
    float: left;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.detail_contact-menu {
    float: left;
    margin-top: 24px;
}

.detail_contact-menu-list1 {
    margin-left: 99px;
    width: 221px;
    height: 102px;
    display: inline-block;
    list-style-type: none;
    float: left;
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.8px;
}

.detail_contact-menu-list2 {
    margin-left: 70px;
    width: 137px;
    height: 62px;
    display: inline-block;
    list-style-type: none;
    float: left;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.detail_contact-menu-list3 {
   margin-left: 80px;
    width: 193px;
    height: 64px;
    display: inline-block;
    list-style-type: none;
    float: left;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.detail_contact-menu-list4 {
    margin-left: 99px;
    width: 363px;
    height: 102px;
    display: inline-block;
    list-style-type: none;
    float: left;
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.8px;
}

.email {
    height: 48px;
    width: 370px;
    border: 1px solid #d9dee1;
    background-color: #ffffff;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding-left: 19px;
}

.footer {
    float: left;
    margin-top: 77px;
}

.footer-list {
    margin-left: 99px;
    width: 300px;
    display: inline-block;
    list-style-type: none;
    float: left;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.imgc{
    width: 38px;
    height: 48px;
}

/* страница PRODUCTS*/

.header_products {
    height: 360px;
    background-color: #f5f5f5;
}

.our_products_range {
    margin-top: 240px;
    margin-left: 3px;
    color: #212121;
    font-size: 62px;
    font-weight: 300;
}

.all_our_products_range {
    height: 1965px;
    background-color: white;
}

.all_our_products_range_menu {
    float: left;
    margin-top: 71px;
}

.all_our_products_range_menu-list {
    list-style-type: none;
    float: left;
}

.all_our_products_range_menu-link {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.8px;
    padding: 11px 15px;
    border-bottom: 2px solid #6c6c6c;
}

.all_our_products_range_menu-link:hover {
    color: black;
}

.all_our_products_range_menu-link-active {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 1.8px;
    border-bottom: 3px solid #212121;
}

.our_products-menu {
    float: left;
    margin-top: 72px;
}

.our_products-menu-list {
    list-style-type: none;
    float: left;
}

.our_products-menu-link {
    display: inline-block;
    width: 390px;
    height: 390px;
    list-style-type: none;
    float: left;
}

.still {
    margin-top: 60px;
    margin-left: 572px;
}

.p_contact {
    background-color: #f5f5f5;
    padding-top: 683px;
}


/* страница PRODUCTS DEAILS*/

.header_products_deails {
    height: 119px;
    background-color: white;
}

.all_products_deails {
    height: 70px;
    background-color: #f4f4f4;
}

.all_products_deails_menu {
    margin-left: 260px;
    float: left;
}

.all_products_deails_menu-list {
    list-style-type: none;
    float: left;
}

.all_products_deails_menu-link {
    color: #6c6c6c;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    list-style-type: none;
    float: left;
    text-decoration: none;
    width: 120px;
    margin-top: 20px;
}

.all_products_deails_menu-link:hover {
    color: black;
}

.all_products_deails_menu-link1 {
    color: #6c6c6c;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    list-style-type: none;
    float: left;
    text-decoration: none;
    width: 100px;
    margin-top: 20px;
}

.all_products_deails_menu-link1:hover {
    color: black;
}

.all_products_deails_menu-link-active {
    color: black;
}

.deails-pagination {
    width: 570px;
    float: left;
}

.deails-img {
    margin-top: 60px;
}

.slider-deails {
    width: 570px;
    float: right;
}

.deails-pag1 {
    margin-left: 170px;
}

.deails-pag1:hover {
    outline: 1px solid black;
}

.deails-pag:hover {
    outline: 1px solid black;
}

.slider-deails-h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-left: 148px;
    margin-top: 90px;
}

.slider-deails-trending {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-left: 208px;
    margin-top: 10px;
}

.slider-deails2-h2 {
    color: #212121;
    font-size: 48px;
    font-weight: 300;
    float: left;
    margin-top: 20px;
    margin-right: 10px;
    margin-top: 30px;
    margin-left: 140px;
}

.slider-deails2-h3 {
    color: #212121;
    font-weight: 300;
    font-size: 72px;
    text-transform: uppercase;
    float: left;
    margin-top: 10px;
}

.slider-deails2-h4 {
    color: #212121;
    font-size: 48px;
    font-weight: 300;
    margin-top: 20px;
    margin-top: 30px;
}

.button2 {
    width: 510px;
    height: 71px;
    color: white;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 35px;
    background-color: #f44336;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.4px;
    padding-top: 10px;
    height: 60px;
}

.slider-deails-content {
    margin-top: 30px;
    color: #212121;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.4px;
    width: 510px;
    clear: both;
}

.related_products {
    background-color: white;
}

.related_products-h2 {
    float: left;
    margin-top: 250px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    clear: both;
}

.related_products_all {
    float: right;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-decoration: none;
    clear: both;
    margin-right: 100px;
}

.related_products-menu {
    float: left;
    margin-top: 64px;
}

.related_products-menu-list {
    list-style-type: none;
    float: left;
}

.related_products-menu-link {
    display: inline-block;
    width: 450px;
    height: 400px;
    list-style-type: none;
    float: left;
}

.related_products_all:hover {
    color: darkgray;
}

.p_contact2 {
    background-color: #f5f5f5;
    margin-top: 1600px;
}


/* страница CONTACT*/

.contact_left,
.contact_middle,
.contact_right {
    border: 1px solid #9c9c9c;
    display: inline-block;
    width: 360px;
    height: 350px;
    margin-right: 20px;
    margin-top: 70px;
    list-style-type: none;
    float: left;
    background-color: #ffffff;
    opacity: 0.9;
}

.c_contact {
    background-color: #f5f5f5;
    margin-top: 550px;
}

.contact_left {
    margin-left: 100px;
    margin-right: 30px;
}

.contact_middle {
    margin-right: 30px;
}

.imgc {
    margin-left: 160px;
    margin-top: 50px;
}

.california {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 100px;
}

.title_g {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 150px;
}

.number_g {
    font-size: 14px;
    color: #212121;
    font-weight: 700;
    margin-left: 110px;
}

.number_g2 {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    margin-left: 50px;
}